In [1]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup

import pandas as pd
import time

In [63]:
movies

                        movie_title  movie_year  movie_rating
1          The Shawshank Redemption        1994           9.2
2                     The Godfather        1972           9.2
3                   The Dark Knight        2008           9.0
4             The Godfather Part II        1974           9.0
5                      12 Angry Men        1957           9.0
..                              ...         ...           ...
246                        The Help        2011           8.0
247                     Dersu Uzala        1975           8.0
248                         Aladdin        1992           8.0
249              Dances with Wolves        1990           8.0
250                          Gandhi        1982           8.0

[250 rows x 3 columns]

Empty DataFrame
Columns: [movie_title, movie_year, genre, runtime, summary, actors]
Index: []

In [2]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
driver = webdriver.Safari()
driver.get(url)
soup = BeautifulSoup(driver.page_source, 'html.parser')
driver.close()

In [29]:
# click on each movie to get the movie details
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
driver = webdriver.Safari()
driver.get(url)
soup = BeautifulSoup(driver.page_source, 'html.parser')


master_frame = pd.DataFrame()
titles = []
years = []
lengths = []
ratings = []
genres = []
directors = []

links = soup.find_all('a', href=True)
for link in links:
    if link['href'].startswith('/title/tt'):
        driver.get('https://www.imdb.com' + link['href'])
        soup = BeautifulSoup(driver.page_source, 'html.parser')

        data = soup.find('title').text
        
        title = data.split('(')[0].strip()

        year = data.split('(')[1].split(')')[0].strip()
        year = int(year)

        li = soup.find_all('li', class_='ipc-inline-list__item')
        
        length = li[5].text
        

        director = li[6].text




        print(title, year, length, director)
        

        # length = soup.find('time').text
        # length = int(length.split(' ')[0])
        

        # genre: <span class="ipc-chip__text">Drama</span>
        # genre = soup.find('span', class_='ipc-chip__text').text
        
        # genre = soup.find('div', class_='subtext').text
        # director = soup.find('div', class_='credit_summary_item').text
        titles.append(title)
        years.append(year)
        lengths.append(length)
        # ratings.append(rating)
        # genres.append(genre)
        directors.append(director)
        time.sleep(4)

driver.close()

master_frame = pd.DataFrame()
master_frame['title'] = titles
master_frame['year'] = years
master_frame['length'] = lengths
# master_frame['rating'] = ratings
# master_frame['genre'] = genres
master_frame['director'] = directors
master_frame

The Shawshank Redemption 1994 2h 22m Frank Darabont
The Shawshank Redemption 1994 2h 22m Frank Darabont
The Godfather 1972 2h 55m Francis Ford Coppola
The Godfather 1972 2h 55m Francis Ford Coppola
The Dark Knight 2008 2h 32m Christopher Nolan
The Dark Knight 2008 2h 32m Christopher Nolan
The Godfather Part II 1974 3h 22m Francis Ford Coppola
The Godfather Part II 1974 3h 22m Francis Ford Coppola
12 Angry Men 1957 1h 36m Sidney Lumet
12 Angry Men 1957 1h 36m Sidney Lumet
Schindler's List 1993 3h 15m Steven Spielberg
Schindler's List 1993 3h 15m Steven Spielberg
The Lord of the Rings: The Return of the King 2003 3h 21m Peter Jackson
The Lord of the Rings: The Return of the King 2003 3h 21m Peter Jackson
Pulp Fiction 1994 2h 34m Quentin Tarantino
Pulp Fiction 1994 2h 34m Quentin Tarantino
The Lord of the Rings: The Fellowship of the Ring 2001 2h 58m Peter Jackson
The Lord of the Rings: The Fellowship of the Ring 2001 2h 58m Peter Jackson
The Good, the Bad and the Ugly 1966 2h 58m Sergio Leone
The Good, the Bad and the Ugly 1966 2h 58m Sergio Leone
Forrest Gump 1994 2h 22m Robert Zemeckis
Forrest Gump 1994 2h 22m Robert Zemeckis
Fight Club 1999 2h 19m David Fincher
Fight Club 1999 2h 19m David Fincher
The Lord of the Rings: The Two Towers 2002 2h 59m Peter Jackson
The Lord of the Rings: The Two Towers 2002 2h 59m Peter Jackson
Inception 2010 2h 28m Christopher Nolan
Inception 2010 2h 28m Christopher Nolan
Star Wars: Episode V - The Empire Strikes Back 1980 2h 4m Irvin Kershner
Star Wars: Episode V - The Empire Strikes Back 1980 2h 4m Irvin Kershner
The Matrix 1999 2h 16m Lana Wachowski
The Matrix 1999 2h 16m Lana Wachowski
Goodfellas 1990 2h 25m Martin Scorsese
Goodfellas 1990 2h 25m Martin Scorsese
One Flew Over the Cuckoo's Nest 1975 2h 13m Milos Forman
One Flew Over the Cuckoo's Nest 1975 2h 13m Milos Forman
Se7en 1995 2h 7m David Fincher
Se7en 1995 2h 7m David Fincher
Seven Samurai 1954 3h 27m Akira Kurosawa
Seven Samurai 1954 3h 27m Akira Kurosawa
It's a Wonderful Life 1946 2h 10m Frank Capra
It's a Wonderful Life 1946 2h 10m Frank Capra
The Silence of the Lambs 1991 1h 58m Jonathan Demme
The Silence of the Lambs 1991 1h 58m Jonathan Demme
Saving Private Ryan 1998 2h 49m Steven Spielberg
Saving Private Ryan 1998 2h 49m Steven Spielberg
City of God 2002 2h 10m Fernando Meirelles
City of God 2002 2h 10m Fernando Meirelles
Interstellar 2014 2h 49m Christopher Nolan
Interstellar 2014 2h 49m Christopher Nolan
Life Is Beautiful 1997 1h 56m Roberto Benigni
Life Is Beautiful 1997 1h 56m Roberto Benigni
The Green Mile 1999 3h 9m Frank Darabont
The Green Mile 1999 3h 9m Frank Darabont
Star Wars: Episode IV - A New Hope 1977 2h 1m George Lucas
Star Wars: Episode IV - A New Hope 1977 2h 1m George Lucas
Terminator 2: Judgment Day 1991 2h 17m James Cameron
Terminator 2: Judgment Day 1991 2h 17m James Cameron
Back to the Future 1985 1h 56m Robert Zemeckis
Back to the Future 1985 1h 56m Robert Zemeckis
Spirited Away 2001 2h 5m Hayao Miyazaki
Spirited Away 2001 2h 5m Hayao Miyazaki
The Pianist 2002 2h 30m Roman Polanski
The Pianist 2002 2h 30m Roman Polanski
Psycho 1960 1h 49m Alfred Hitchcock
Psycho 1960 1h 49m Alfred Hitchcock
Parasite 2019 2h 12m Bong Joon Ho
Parasite 2019 2h 12m Bong Joon Ho
LÃ©on: The Professional 1994 1h 50m Luc Besson
LÃ©on: The Professional 1994 1h 50m Luc Besson
The Lion King 1994 1h 28m Roger Allers
The Lion King 1994 1h 28m Roger Allers
Gladiator 2000 2h 35m Ridley Scott
Gladiator 2000 2h 35m Ridley Scott
American History X 1998 1h 59m Tony Kaye
American History X 1998 1h 59m Tony Kaye
The Departed 2006 2h 31m Martin Scorsese
The Departed 2006 2h 31m Martin Scorsese
The Prestige 2006 2h 10m Christopher Nolan
The Prestige 2006 2h 10m Christopher Nolan
The Usual Suspects 1995 1h 46m Bryan Singer
The Usual Suspects 1995 1h 46m Bryan Singer
Whiplash 2014 1h 46m Damien Chazelle
Whiplash 2014 1h 46m Damien Chazelle
Casablanca 1942 1h 42m Michael Curtiz
Casablanca 1942 1h 42m Michael Curtiz
Grave of the Fireflies 1988 1h 29m Isao Takahata
Grave of the Fireflies 1988 1h 29m Isao Takahata
Harakiri 1962 2h 13m Masaki Kobayashi
Harakiri 1962 2h 13m Masaki Kobayashi
The Intouchables 2011 1h 52m Olivier Nakache
The Intouchables 2011 1h 52m Olivier Nakache
Modern Times 1936 1h 27m Charles Chaplin
Modern Times 1936 1h 27m Charles Chaplin
Once Upon a Time in the West 1968 2h 45m Sergio Leone
Once Upon a Time in the West 1968 2h 45m Sergio Leone
Cinema Paradiso 1988 2h 35m Giuseppe Tornatore
Cinema Paradiso 1988 2h 35m Giuseppe Tornatore
Rear Window 1954 1h 52m Alfred Hitchcock
Rear Window 1954 1h 52m Alfred Hitchcock
Alien 1979 1h 57m Ridley Scott
Alien 1979 1h 57m Ridley Scott
City Lights 1931 1h 27m Charles Chaplin
City Lights 1931 1h 27m Charles Chaplin
Apocalypse Now 1979 2h 27m Francis Ford Coppola
Apocalypse Now 1979 2h 27m Francis Ford Coppola
Memento 2000 1h 53m Christopher Nolan
Memento 2000 1h 53m Christopher Nolan
Django Unchained 2012 2h 45m Quentin Tarantino
Django Unchained 2012 2h 45m Quentin Tarantino
Raiders of the Lost Ark 1981 1h 55m Steven Spielberg
Raiders of the Lost Ark 1981 1h 55m Steven Spielberg
WALLÂ·E 2008 1h 38m Andrew Stanton
WALLÂ·E 2008 1h 38m Andrew Stanton
The Lives of Others 2006 2h 17m Florian Henckel von Donnersmarck
The Lives of Others 2006 2h 17m Florian Henckel von Donnersmarck
Sunset Blvd. 1950 1h 50m Billy Wilder
Sunset Blvd. 1950 1h 50m Billy Wilder
Paths of Glory 1957 1h 28m Stanley Kubrick
Paths of Glory 1957 1h 28m Stanley Kubrick
The Shining 1980 2h 26m Stanley Kubrick
The Shining 1980 2h 26m Stanley Kubrick
The Great Dictator 1940 2h 5m Charles Chaplin
The Great Dictator 1940 2h 5m Charles Chaplin
Avengers: Infinity War 2018 2h 29m Anthony Russo
Avengers: Infinity War 2018 2h 29m Anthony Russo
Witness for the Prosecution 1957 1h 56m Billy Wilder
Witness for the Prosecution 1957 1h 56m Billy Wilder
Aliens 1986 2h 17m James Cameron
Aliens 1986 2h 17m James Cameron
Spider-Man: Into the Spider-Verse 2018 1h 57m Bob Persichetti
Spider-Man: Into the Spider-Verse 2018 1h 57m Bob Persichetti
American Beauty 1999 2h 2m Sam Mendes
American Beauty 1999 2h 2m Sam Mendes
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 1964 1h 35m Stanley Kubrick
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 1964 1h 35m Stanley Kubrick
The Dark Knight Rises 2012 2h 44m Christopher Nolan
The Dark Knight Rises 2012 2h 44m Christopher Nolan
Oldboy 2003 2h Park Chan-wook
Oldboy 2003 2h Park Chan-wook
Inglourious Basterds 2009 2h 33m Quentin Tarantino
Inglourious Basterds 2009 2h 33m Quentin Tarantino
Amadeus 1984 2h 40m Milos Forman
Amadeus 1984 2h 40m Milos Forman
Coco 2017 1h 45m Lee Unkrich
Coco 2017 1h 45m Lee Unkrich
Toy Story 1995 1h 21m John Lasseter
Toy Story 1995 1h 21m John Lasseter
Joker 2019 2h 2m Todd Phillips
Joker 2019 2h 2m Todd Phillips
Braveheart 1995 2h 58m Mel Gibson
Braveheart 1995 2h 58m Mel Gibson
Das Boot 1981 Wolfgang Petersen Wolfgang Petersen
Das Boot 1981 Wolfgang Petersen Wolfgang Petersen
Avengers: Endgame 2019 3h 1m Anthony Russo
Avengers: Endgame 2019 3h 1m Anthony Russo
Princess Mononoke 1997 2h 14m Hayao Miyazaki
Princess Mononoke 1997 2h 14m Hayao Miyazaki
Once Upon a Time in America 1984 3h 49m Sergio Leone
Once Upon a Time in America 1984 3h 49m Sergio Leone
Good Will Hunting 1997 2h 6m Gus Van Sant
Good Will Hunting 1997 2h 6m Gus Van Sant
Your Name. 2016 1h 46m Makoto Shinkai
Your Name. 2016 1h 46m Makoto Shinkai
Singin' in the Rain 1952 1h 43m Stanley Donen
Singin' in the Rain 1952 1h 43m Stanley Donen
3 Idiots 2009 2h 50m Rajkumar Hirani
3 Idiots 2009 2h 50m Rajkumar Hirani
Requiem for a Dream 2000 1h 42m Darren Aronofsky
Requiem for a Dream 2000 1h 42m Darren Aronofsky
High and Low 1963 2h 23m Akira Kurosawa
High and Low 1963 2h 23m Akira Kurosawa
Toy Story 3 2010 1h 43m Lee Unkrich
Toy Story 3 2010 1h 43m Lee Unkrich
Capernaum 2018 2h 6m Nadine Labaki
Capernaum 2018 2h 6m Nadine Labaki
Star Wars: Episode VI - Return of the Jedi 1983 2h 11m Richard Marquand
Star Wars: Episode VI - Return of the Jedi 1983 2h 11m Richard Marquand
2001: A Space Odyssey 1968 2h 29m Stanley Kubrick
2001: A Space Odyssey 1968 2h 29m Stanley Kubrick
Eternal Sunshine of the Spotless Mind 2004 1h 48m Michel Gondry
Eternal Sunshine of the Spotless Mind 2004 1h 48m Michel Gondry
Come and See 1985 2h 22m Elem Klimov
Come and See 1985 2h 22m Elem Klimov
Reservoir Dogs 1992 1h 39m Quentin Tarantino
Reservoir Dogs 1992 1h 39m Quentin Tarantino
The Hunt 2012 1h 55m Thomas Vinterberg
The Hunt 2012 1h 55m Thomas Vinterberg
Citizen Kane 1941 1h 59m Orson Welles
Citizen Kane 1941 1h 59m Orson Welles
M 1931 1h 39m Fritz Lang
M 1931 1h 39m Fritz Lang
Lawrence of Arabia 1962 3h 38m David Lean
Lawrence of Arabia 1962 3h 38m David Lean
North by Northwest 1959 2h 16m Alfred Hitchcock
North by Northwest 1959 2h 16m Alfred Hitchcock
Ikiru 1952 2h 23m Akira Kurosawa
Ikiru 1952 2h 23m Akira Kurosawa
Vertigo 1958 2h 8m Alfred Hitchcock
Vertigo 1958 2h 8m Alfred Hitchcock
The Apartment 1960 2h 5m Billy Wilder
The Apartment 1960 2h 5m Billy Wilder
AmÃ©lie 2001 2h 2m Jean-Pierre Jeunet
AmÃ©lie 2001 2h 2m Jean-Pierre Jeunet
A Clockwork Orange 1971 2h 16m Stanley Kubrick
A Clockwork Orange 1971 2h 16m Stanley Kubrick
Double Indemnity 1944 1h 47m Billy Wilder
Double Indemnity 1944 1h 47m Billy Wilder
Full Metal Jacket 1987 1h 56m Stanley Kubrick
Full Metal Jacket 1987 1h 56m Stanley Kubrick
Scarface 1983 2h 50m Brian De Palma
Scarface 1983 2h 50m Brian De Palma
Hamilton 2020 2h 40m Thomas Kail
Hamilton 2020 2h 40m Thomas Kail
Incendies 2010 2h 11m Denis Villeneuve
Incendies 2010 2h 11m Denis Villeneuve
Heat 1995 2h 50m Michael Mann
Heat 1995 2h 50m Michael Mann
To Kill a Mockingbird 1962 2h 9m Robert Mulligan
To Kill a Mockingbird 1962 2h 9m Robert Mulligan
Up 2009 1h 36m Pete Docter
Up 2009 1h 36m Pete Docter
The Sting 1973 2h 9m George Roy Hill
The Sting 1973 2h 9m George Roy Hill
A Separation 2011 2h 3m Asghar Farhadi
A Separation 2011 2h 3m Asghar Farhadi
Metropolis 1927 2h 33m Fritz Lang
Metropolis 1927 2h 33m Fritz Lang
Taxi Driver 1976 1h 54m Martin Scorsese
Taxi Driver 1976 1h 54m Martin Scorsese
L.A. Confidential 1997 2h 18m Curtis Hanson
L.A. Confidential 1997 2h 18m Curtis Hanson
Top Gun: Maverick 2022 2h 10m Joseph Kosinski
Top Gun: Maverick 2022 2h 10m Joseph Kosinski
Die Hard 1988 2h 12m John McTiernan
Die Hard 1988 2h 12m John McTiernan
Snatch 2000 1h 42m Guy Ritchie
Snatch 2000 1h 42m Guy Ritchie
Indiana Jones and the Last Crusade 1989 2h 7m Steven Spielberg
Indiana Jones and the Last Crusade 1989 2h 7m Steven Spielberg
Bicycle Thieves 1948 1h 29m Vittorio De Sica
Bicycle Thieves 1948 1h 29m Vittorio De Sica
Like Stars on Earth 2007 2h 45m Aamir Khan
Like Stars on Earth 2007 2h 45m Aamir Khan
1917 2019 1h 59m Sam Mendes
1917 2019 1h 59m Sam Mendes
Downfall 2004 2h 36m Oliver Hirschbiegel
Downfall 2004 2h 36m Oliver Hirschbiegel
Dangal 2016 2h 41m Nitesh Tiwari
Dangal 2016 2h 41m Nitesh Tiwari
For a Few Dollars More 1965 2h 12m Sergio Leone
For a Few Dollars More 1965 2h 12m Sergio Leone
Batman Begins 2005 2h 20m Christopher Nolan
Batman Begins 2005 2h 20m Christopher Nolan
The Kid 1921 1h 8m Charles Chaplin
The Kid 1921 1h 8m Charles Chaplin
Some Like It Hot 1959 2h 1m Billy Wilder
Some Like It Hot 1959 2h 1m Billy Wilder
The Father 2020 1h 37m Florian Zeller
The Father 2020 1h 37m Florian Zeller
All About Eve 1950 2h 18m Joseph L. Mankiewicz
All About Eve 1950 2h 18m Joseph L. Mankiewicz
The Wolf of Wall Street 2013 3h Martin Scorsese
The Wolf of Wall Street 2013 3h Martin Scorsese
Green Book 2018 2h 10m Peter Farrelly
Green Book 2018 2h 10m Peter Farrelly
Judgment at Nuremberg 1961 2h 59m Stanley Kramer
Judgment at Nuremberg 1961 2h 59m Stanley Kramer
Ran 1985 2h 42m Akira Kurosawa
Ran 1985 2h 42m Akira Kurosawa
Casino 1995 2h 58m Martin Scorsese
Casino 1995 2h 58m Martin Scorsese
The Truman Show 1998 1h 43m Peter Weir
The Truman Show 1998 1h 43m Peter Weir
There Will Be Blood 2007 2h 38m Paul Thomas Anderson
There Will Be Blood 2007 2h 38m Paul Thomas Anderson
Pan's Labyrinth 2006 1h 58m Guillermo del Toro
Pan's Labyrinth 2006 1h 58m Guillermo del Toro
Unforgiven 1992 2h 10m Clint Eastwood
Unforgiven 1992 2h 10m Clint Eastwood
The Sixth Sense 1999 1h 47m M. Night Shyamalan
The Sixth Sense 1999 1h 47m M. Night Shyamalan
Shutter Island 2010 2h 18m Martin Scorsese
Shutter Island 2010 2h 18m Martin Scorsese
A Beautiful Mind 2001 2h 15m Ron Howard
A Beautiful Mind 2001 2h 15m Ron Howard
Jurassic Park 1993 2h 7m Steven Spielberg
Jurassic Park 1993 2h 7m Steven Spielberg
Yojimbo 1961 1h 50m Akira Kurosawa
Yojimbo 1961 1h 50m Akira Kurosawa
The Treasure of the Sierra Madre 1948 2h 6m John Huston
The Treasure of the Sierra Madre 1948 2h 6m John Huston
Monty Python and the Holy Grail 1975 1h 31m Terry Gilliam
Monty Python and the Holy Grail 1975 1h 31m Terry Gilliam
No Country for Old Men 2007 2h 2m Ethan Coen
No Country for Old Men 2007 2h 2m Ethan Coen
The Great Escape 1963 2h 52m John Sturges
The Great Escape 1963 2h 52m John Sturges
Kill Bill: Vol. 1 2003 1h 51m Quentin Tarantino
Kill Bill: Vol. 1 2003 1h 51m Quentin Tarantino
Rashomon 1950 1h 28m Akira Kurosawa
Rashomon 1950 1h 28m Akira Kurosawa
Spider-Man: No Way Home 2021 2h 28m Jon Watts
Spider-Man: No Way Home 2021 2h 28m Jon Watts
The Thing 1982 1h 49m John Carpenter
The Thing 1982 1h 49m John Carpenter
Finding Nemo 2003 1h 40m Andrew Stanton
Finding Nemo 2003 1h 40m Andrew Stanton
The Elephant Man 1980 2h 4m David Lynch
The Elephant Man 1980 2h 4m David Lynch
Chinatown 1974 2h 10m Roman Polanski
Chinatown 1974 2h 10m Roman Polanski
Raging Bull 1980 2h 9m Martin Scorsese
Raging Bull 1980 2h 9m Martin Scorsese
V for Vendetta 2005 2h 12m James McTeigue
V for Vendetta 2005 2h 12m James McTeigue
Gone with the Wind 1939 3h 58m Victor Fleming
Gone with the Wind 1939 3h 58m Victor Fleming
Lock, Stock and Two Smoking Barrels 1998 1h 47m Guy Ritchie
Lock, Stock and Two Smoking Barrels 1998 1h 47m Guy Ritchie
Inside Out 2015 1h 35m Pete Docter
Inside Out 2015 1h 35m Pete Docter
Dial M for Murder 1954 1h 45m Alfred Hitchcock
Dial M for Murder 1954 1h 45m Alfred Hitchcock
The Secret in Their Eyes 2009 2h 9m Juan JosÃ© Campanella
The Secret in Their Eyes 2009 2h 9m Juan JosÃ© Campanella
Howl's Moving Castle 2004 1h 59m Hayao Miyazaki
Howl's Moving Castle 2004 1h 59m Hayao Miyazaki
Three Billboards Outside Ebbing, Missouri 2017 1h 55m Martin McDonagh
Three Billboards Outside Ebbing, Missouri 2017 1h 55m Martin McDonagh
Trainspotting 1996 1h 33m Danny Boyle
Trainspotting 1996 1h 33m Danny Boyle
The Bridge on the River Kwai 1957 2h 41m David Lean
The Bridge on the River Kwai 1957 2h 41m David Lean
Prisoners 2013 2h 33m Denis Villeneuve
Prisoners 2013 2h 33m Denis Villeneuve
Warrior 2011 2h 20m Gavin O'Connor
Warrior 2011 2h 20m Gavin O'Connor
Fargo 1996 1h 38m Joel Coen
Fargo 1996 1h 38m Joel Coen
Gran Torino 2008 1h 56m Clint Eastwood
Gran Torino 2008 1h 56m Clint Eastwood
My Neighbor Totoro 1988 1h 26m Hayao Miyazaki
My Neighbor Totoro 1988 1h 26m Hayao Miyazaki
Catch Me If You Can 2002 2h 21m Steven Spielberg
Catch Me If You Can 2002 2h 21m Steven Spielberg
Million Dollar Baby 2004 2h 12m Clint Eastwood
Million Dollar Baby 2004 2h 12m Clint Eastwood
Children of Heaven 1997 1h 29m Majid Majidi
Children of Heaven 1997 1h 29m Majid Majidi
Blade Runner 1982 1h 57m Ridley Scott
Blade Runner 1982 1h 57m Ridley Scott
The Gold Rush 1925 1h 35m Charles Chaplin
The Gold Rush 1925 1h 35m Charles Chaplin
Klaus 2019 1h 36m Sergio Pablos
Klaus 2019 1h 36m Sergio Pablos
Before Sunrise 1995 1h 41m Richard Linklater
Before Sunrise 1995 1h 41m Richard Linklater
Harry Potter and the Deathly Hallows: Part 2 2011 2h 10m David Yates
Harry Potter and the Deathly Hallows: Part 2 2011 2h 10m David Yates
12 Years a Slave 2013 2h 14m Steve McQueen
12 Years a Slave 2013 2h 14m Steve McQueen
On the Waterfront 1954 1h 48m Elia Kazan
On the Waterfront 1954 1h 48m Elia Kazan
Ben-Hur 1959 3h 32m William Wyler
Ben-Hur 1959 3h 32m William Wyler
The Grand Budapest Hotel 2014 1h 39m Wes Anderson
The Grand Budapest Hotel 2014 1h 39m Wes Anderson
Gone Girl 2014 2h 29m David Fincher
Gone Girl 2014 2h 29m David Fincher
Wild Strawberries 1957 1h 31m Ingmar Bergman
Wild Strawberries 1957 1h 31m Ingmar Bergman
The General 1926 1h 7m Clyde Bruckman
The General 1926 1h 7m Clyde Bruckman
In the Name of the Father 1993 2h 13m Jim Sheridan
In the Name of the Father 1993 2h 13m Jim Sheridan
Barry Lyndon 1975 3h 5m Stanley Kubrick
Barry Lyndon 1975 3h 5m Stanley Kubrick
The Third Man 1949 1h 33m Carol Reed
The Third Man 1949 1h 33m Carol Reed
The Deer Hunter 1978 3h 3m Michael Cimino
The Deer Hunter 1978 3h 3m Michael Cimino
Hacksaw Ridge 2016 2h 19m Mel Gibson
Hacksaw Ridge 2016 2h 19m Mel Gibson
The Wages of Fear 1953 2h 11m Henri-Georges Clouzot
The Wages of Fear 1953 2h 11m Henri-Georges Clouzot
Memories of Murder 2003 2h 12m Bong Joon Ho
Memories of Murder 2003 2h 12m Bong Joon Ho
Sherlock Jr. 1924 45m Buster Keaton
Sherlock Jr. 1924 45m Buster Keaton
Wild Tales 2014 2h 2m DamiÃ¡n Szifron
Wild Tales 2014 2h 2m DamiÃ¡n Szifron
Mr. Smith Goes to Washington 1939 2h 9m Frank Capra
Mr. Smith Goes to Washington 1939 2h 9m Frank Capra
Mad Max: Fury Road 2015 2h George Miller
Mad Max: Fury Road 2015 2h George Miller
Mary and Max 2009 1h 32m Adam Elliot
Mary and Max 2009 1h 32m Adam Elliot
The Seventh Seal 1957 1h 36m Ingmar Bergman
The Seventh Seal 1957 1h 36m Ingmar Bergman
How to Train Your Dragon 2010 1h 38m Dean DeBlois
How to Train Your Dragon 2010 1h 38m Dean DeBlois
Monsters, Inc. 2001 1h 32m Pete Docter
Monsters, Inc. 2001 1h 32m Pete Docter
Room 2015 1h 58m Lenny Abrahamson
Room 2015 1h 58m Lenny Abrahamson
Jaws 1975 2h 4m Steven Spielberg
Jaws 1975 2h 4m Steven Spielberg
Dead Poets Society 1989 2h 8m Peter Weir
Dead Poets Society 1989 2h 8m Peter Weir
The Big Lebowski 1998 1h 57m Joel Coen
The Big Lebowski 1998 1h 57m Joel Coen
Tokyo Story 1953 2h 16m YasujirÃ´ Ozu
Tokyo Story 1953 2h 16m YasujirÃ´ Ozu
The Passion of Joan of Arc 1928 1h 54m Carl Theodor Dreyer
The Passion of Joan of Arc 1928 1h 54m Carl Theodor Dreyer
Ford v Ferrari 2019 2h 32m James Mangold
Ford v Ferrari 2019 2h 32m James Mangold
Hotel Rwanda 2004 2h 1m Terry George
Hotel Rwanda 2004 2h 1m Terry George
Rocky 1976 2h John G. Avildsen
Rocky 1976 2h John G. Avildsen
Platoon 1986 2h Oliver Stone
Platoon 1986 2h Oliver Stone
Ratatouille 2007 1h 51m Brad Bird
Ratatouille 2007 1h 51m Brad Bird
Spotlight 2015 2h 9m Tom McCarthy
Spotlight 2015 2h 9m Tom McCarthy
The Terminator 1984 1h 47m James Cameron
The Terminator 1984 1h 47m James Cameron
Logan 2017 2h 17m James Mangold
Logan 2017 2h 17m James Mangold
Stand by Me 1986 1h 29m Rob Reiner
Stand by Me 1986 1h 29m Rob Reiner
Rush 2013 2h 3m Ron Howard
Rush 2013 2h 3m Ron Howard
Network 1976 2h 1m Sidney Lumet
Network 1976 2h 1m Sidney Lumet
Before Sunset 2004 1h 20m Richard Linklater
Before Sunset 2004 1h 20m Richard Linklater
Into the Wild 2007 2h 28m Sean Penn
Into the Wild 2007 2h 28m Sean Penn
The Wizard of Oz 1939 1h 42m Victor Fleming
The Wizard of Oz 1939 1h 42m Victor Fleming
The Best Years of Our Lives 1946 2h 50m William Wyler
The Best Years of Our Lives 1946 2h 50m William Wyler
Groundhog Day 1993 1h 41m Harold Ramis
Groundhog Day 1993 1h 41m Harold Ramis
The Exorcist 1973 2h 2m William Friedkin
The Exorcist 1973 2h 2m William Friedkin
Pather Panchali 1955 2h 5m Satyajit Ray
Pather Panchali 1955 2h 5m Satyajit Ray
The Incredibles 2004 1h 55m Brad Bird
The Incredibles 2004 1h 55m Brad Bird
To Be or Not to Be 1942 1h 39m Ernst Lubitsch
To Be or Not to Be 1942 1h 39m Ernst Lubitsch
La haine 1995 1h 38m Mathieu Kassovitz
La haine 1995 1h 38m Mathieu Kassovitz
Pirates of the Caribbean: The Curse of the Black Pearl 2003 2h 23m Gore Verbinski
Pirates of the Caribbean: The Curse of the Black Pearl 2003 2h 23m Gore Verbinski
The Battle of Algiers 1966 2h 1m Gillo Pontecorvo
The Battle of Algiers 1966 2h 1m Gillo Pontecorvo

                        title  year  length              director
0    The Shawshank Redemption  1994  2h 22m        Frank Darabont
1    The Shawshank Redemption  1994  2h 22m        Frank Darabont
2               The Godfather  1972  2h 55m  Francis Ford Coppola
3               The Godfather  1972  2h 55m  Francis Ford Coppola
4             The Dark Knight  2008  2h 32m     Christopher Nolan
..                        ...   ...     ...                   ...
495                   Aladdin  1992  1h 30m          Ron Clements
496        Dances with Wolves  1990   3h 1m         Kevin Costner
497        Dances with Wolves  1990   3h 1m         Kevin Costner
498                    Gandhi  1982  3h 11m  Richard Attenborough
499                    Gandhi  1982  3h 11m  Richard Attenborough

[500 rows x 4 columns]

In [30]:
master_frame.to_csv('movie_data.csv')

In [31]:
# delete every other row
master_frame = master_frame.iloc[::2]
master_frame

                        title  year  length              director
0    The Shawshank Redemption  1994  2h 22m        Frank Darabont
2               The Godfather  1972  2h 55m  Francis Ford Coppola
4             The Dark Knight  2008  2h 32m     Christopher Nolan
6       The Godfather Part II  1974  3h 22m  Francis Ford Coppola
8                12 Angry Men  1957  1h 36m          Sidney Lumet
..                        ...   ...     ...                   ...
490                  The Help  2011  2h 26m           Tate Taylor
492               Dersu Uzala  1975  2h 22m        Akira Kurosawa
494                   Aladdin  1992  1h 30m          Ron Clements
496        Dances with Wolves  1990   3h 1m         Kevin Costner
498                    Gandhi  1982  3h 11m  Richard Attenborough

[250 rows x 4 columns]

In [73]:

master_frame = pd.read_csv("movie_data.csv")
master_frame = master_frame[master_frame['length'] != 'Wolfgang Petersen']

In [74]:
master_frame

     Unnamed: 0                     title  year  length              director
0             0  The Shawshank Redemption  1994  2h 22m        Frank Darabont
1             1  The Shawshank Redemption  1994  2h 22m        Frank Darabont
2             2             The Godfather  1972  2h 55m  Francis Ford Coppola
3             3             The Godfather  1972  2h 55m  Francis Ford Coppola
4             4           The Dark Knight  2008  2h 32m     Christopher Nolan
..          ...                       ...   ...     ...                   ...
495         495                   Aladdin  1992  1h 30m          Ron Clements
496         496        Dances with Wolves  1990   3h 1m         Kevin Costner
497         497        Dances with Wolves  1990   3h 1m         Kevin Costner
498         498                    Gandhi  1982  3h 11m  Richard Attenborough
499         499                    Gandhi  1982  3h 11m  Richard Attenborough

[498 rows x 5 columns]

In [46]:
master_frame['length'][0].split()[0].replace('h', '')

'2'

In [68]:
def convert_to_mins(length):
    # format of "xh ym"
    if len(length.split()) == 2:
        hours = int(length.split()[0].replace('h', ''))
        mins = int(length.split()[1].replace('m', ''))
        return hours * 60 + mins
    # format of "ym" or "xh"
    else:
        if 'h' in length:
            hours = int(length.split()[0].replace('h', ''))
            return hours * 60
        else:
            mins = int(length.split()[0].replace('m', ''))
            return mins

In [63]:
convert_to_mins('2h 22m')

142

In [75]:
master_frame = master_frame.reset_index(drop=True)
master_frame

     Unnamed: 0                     title  year  length              director
0             0  The Shawshank Redemption  1994  2h 22m        Frank Darabont
1             1  The Shawshank Redemption  1994  2h 22m        Frank Darabont
2             2             The Godfather  1972  2h 55m  Francis Ford Coppola
3             3             The Godfather  1972  2h 55m  Francis Ford Coppola
4             4           The Dark Knight  2008  2h 32m     Christopher Nolan
..          ...                       ...   ...     ...                   ...
493         495                   Aladdin  1992  1h 30m          Ron Clements
494         496        Dances with Wolves  1990   3h 1m         Kevin Costner
495         497        Dances with Wolves  1990   3h 1m         Kevin Costner
496         498                    Gandhi  1982  3h 11m  Richard Attenborough
497         499                    Gandhi  1982  3h 11m  Richard Attenborough

[498 rows x 5 columns]

In [76]:
# find length of movie in hours
master_frame = master_frame.reset_index(drop=True)
master_frame['length'] = master_frame['length'].apply(convert_to_mins)

# master_frame['minutes'] = master_frame['length'].str.split('h').str[1].str.split('min').str[0].astype(int)
# master_frame['length'] = master_frame['hours'] + master_frame['minutes']/60
# master_frame = master_frame.drop(['hours', 'minutes'], axis=1)
master_frame

     Unnamed: 0                     title  year  length              director
0             0  The Shawshank Redemption  1994     142        Frank Darabont
1             1  The Shawshank Redemption  1994     142        Frank Darabont
2             2             The Godfather  1972     175  Francis Ford Coppola
3             3             The Godfather  1972     175  Francis Ford Coppola
4             4           The Dark Knight  2008     152     Christopher Nolan
..          ...                       ...   ...     ...                   ...
493         495                   Aladdin  1992      90          Ron Clements
494         496        Dances with Wolves  1990     181         Kevin Costner
495         497        Dances with Wolves  1990     181         Kevin Costner
496         498                    Gandhi  1982     191  Richard Attenborough
497         499                    Gandhi  1982     191  Richard Attenborough

[498 rows x 5 columns]

In [85]:
master_frame.describe() / 60

       Unnamed: 0       year    length
count    8.300000   8.300000  8.300000
mean     4.164826  33.106359  2.150870
std      2.410682   0.419139  0.503216
min      0.000000  32.016667  0.750000
25%      2.070833  32.766667  1.783333
50%      4.175000  33.233333  2.100000
75%      6.245833  33.433333  2.416667
max      8.316667  33.700000  3.966667

In [78]:
master_frame['director'].value_counts()

Martin Scorsese         14
Akira Kurosawa          14
Christopher Nolan       14
Stanley Kubrick         14
Steven Spielberg        14
                        ..
Thomas Kail              2
Brian De Palma           2
Jean-Pierre Jeunet       2
Orson Welles             2
Richard Attenborough     2
Name: director, Length: 153, dtype: int64

In [86]:
master_frame['director'].value_counts().tail(10)

Curtis Hanson           2
Asghar Farhadi          2
George Roy Hill         2
Robert Mulligan         2
Michael Mann            2
Thomas Kail             2
Brian De Palma          2
Jean-Pierre Jeunet      2
Orson Welles            2
Richard Attenborough    2
Name: director, dtype: int64